<%-include('header.html')%>
<div class="row">
    <div class="col">
        <h5 class="text-muted">seo调用方法：</h5>
        <p class="text-primary">seo统一标题：feiyuseo.seotitle</p>
        <p class="text-primary">seo统一关键字：feiyuseo.seokeywords</p>
        <p class="text-primary">seo统一简介：feiyuseo.seocontents</p>
        <h5 class="text-muted">网站设置调用方法一：</h5>
        <p class="text-primary">联系人：feiyuset.user</p>
        <p class="text-primary">联系电话：feiyuset.mobile</p>
        <p class="text-primary">qq号码：feiyuset.qqnumber</p>
    </div>
    <div class="col">
        <h5 class="text-muted">网站设置调用方法二：</h5>
        <p class="text-primary">网站名称：feiyuset.name</p>
        <p class="text-primary">网站logo：baseurl + feiyuset.logo</p>
        <p class="text-primary">版权：feiyuset.banquan</p>
        <p class="text-primary">网址：feiyuset.url</p>
        <p class="text-primary">联系地址：feiyuset.address</p>
        <p class="text-primary">邮箱：feiyuset.email</p>
        <p class="text-primary">二维码：feiyuset.qrcode</p>
    </div>
</div>
<%-include('footer.html')%>